.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
}

.app main {
  height: 100%;
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}
