.cart {
  width: 100%;
  max-width: 1200px;
  padding: 50px 20px;
}

.cart h1 {
  margin: 0 0 20px 0;
}

.cart .flex_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.items {
  margin-bottom: 30px;
}

.order_summary {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 4px;
  font-weight: 900;
}

.order_summary h2 {
  margin-bottom: 20px;
}

.order_summary p {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 10px 0;
  border-top: solid gray 0.5px;
  font-size: 16px;
}

.order_summary p.total {
  font-size: 18px;
  padding-top: 30px;
}

.order_summary .checkout {
  padding: 10px 30px;
  margin: 20px 0;
  border-radius: 4px;
  font-size: 20px;
  color: white;
  background-color: var(--red-color);
}

.order_summary .checkout:hover {
  transform: scale(1.05);
  background-color: var(--dark-red-color);
}

.empty_cart {
  font-size: 20px;
  margin-top: 100px;
}

@media (min-width: 720px) {
}

@media (min-width: 1000px) {
  .cart .flex_container {
    flex-direction: row;
    align-items: flex-start;
  }

  .items {
    flex: 1;
  }

  .cart h1 {
    margin: 20px 0;
  }

  .order_summary {
    margin-left: 40px;
    top: 120px;
    position: sticky;
  }
}