.container {
  width: 80%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 30% 50%;
  justify-content: center;
  gap: 5%;
  margin-top: 80px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.h3 {
  font-size: 20px;
}

.h2 {
  font-size: 36px;
}

.button {
  font-size: 200%;
  font-weight: 900;
  padding: 20px 0;
  max-width: 300px;
  text-align: center;
  color: white;
  background-color: var(--red-color);
  border-radius: 100px;
}

.button:hover {
  background-color: var(--dark-red-color);
}

@media (max-width: 1000px) {
  .hero {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
  }

  .hero {
    width: 100%;
  }
}