.main {
  height: 100%;
  box-sizing: inherit;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.container {
  margin: 4% 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  gap: 80px;
}