.article {
  width: 220px;
  height: 220px;
  display: grid;
  grid-template-rows: auto 1fr;
  box-sizing: content-box;
  border: solid lightgray 0.5px;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 30px;
}

.article:hover {
  transform: scale(1.03);
}

.article:hover .h2 {
  color: var(--red-color);
}

.img_container,
.img {
  height: 110px;
  width: 220px;
  object-fit: cover;
  object-position: top;
  border-radius: 4px 4px 0 0;
}

.metadata {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 100%;
}

.h2 {
  font-size: 14px;
}

.p {
  font-size: 14px;
}

.button {
  justify-self: end;
  width: 100%;
  padding: 14px;
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: 800;
  border-radius: 10px;
}

.button:hover {
  background-color: rgb(83, 83, 83);
  cursor: pointer;
}

@media (max-width: 1000px) {
}

@media (max-width: 720px) {
  .article,
  .img_container,
  .img {
    width: 40vw;
    min-width: 142px;
  }

  .article {
    height: 40vw;
    min-height: 142px;
    margin-bottom: 10px;
  }

  .img_container,
  .img {
    height: 20vw;
    min-height: 71px;
  }

  .h2,
  .p {
    font-size: 12px;
  }
}