.section {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.section > img {
  height: 200px;
}

.container > h3 {
  font-size: 20px;
  margin-top: 0;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: left;
  align-items: center;
  gap: 30px;
  font-size: 24px;
}

.buttons > button {
  height: 50px;
  width: 50px;
  font-size: 30px;
  background-color: lightgray;
  border: 0;
  border-radius: 10px;
}

.buttons > button:hover {
  opacity: 0.8;
}
